<main>

        <section id="section-banner">

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/img/fone1a.png" class="d-block w-100" alt="fone1a">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/img/fone2a.png" class="d-block w-100" alt="fone2a">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/img/microfone2a.png" class="d-block w-100" alt="microfone2a">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </section>

        <h2>Jogos em Promoção</h2>
        <mat-grid-list cols="3">
            <mat-grid-tile>

                <mat-card class="example-card">
                    <img mat-card-image src="./assets/img/mouse1a.png" alt="mouse1">
                    <mat-card-header>
                      <mat-card-title>Mouse</mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content>
                      <p>
                        Mouse de Última Geração!!
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>349,99</p>
                      <button mat-button>Comprar</button>
                    </mat-card-actions>
                  </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>

                <mat-card class="example-card">
                    <img mat-card-image src="./assets/img/microfone1a.png" alt="microfone1a">
                    <mat-card-header>
                      <mat-card-title>Microfone 1</mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content>
                      <p>
                        Microfone de Última Geração!!
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>1049,99</p>
                      <button mat-button>Comprar</button>
                    </mat-card-actions>
                  </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>

                <mat-card class="example-card">
                    <img mat-card-image src="./assets/img/microfone2a.png" alt="microfone2a">
                    <mat-card-header>
                      <mat-card-title>Microfone 2</mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content>
                      <p>
                        The Best Microphone of the Year!!
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>349,99</p>
                      <button mat-button>Comprar</button>
                    </mat-card-actions>
                  </mat-card>

            </mat-grid-tile>
          </mat-grid-list>
          


        
          

</main>